@import "bootstrap.min.css";
body {
  font-family: "source-sans-pro", sans-serif;
  font-weight: 400;
}
a {
  color: #E74117;
  border-bottom: 1px dotted #8a270e;
}
a:hover {
  color: black;
  text-decoration: none;
  border-bottom: 1px dotted black;
}
h2,
h3 {
  font-family: "proxima-nova-sc-osf", sans-serif;
  font-style: normal;
  font-weight: 800;
  padding-bottom: 10px;
  border-bottom: 1px solid #777775;
}
#naked span {
  display: inline-block;
  margin-right: 10px;
}
h2 {
  font-family: "proxima-nova-alt", sans-serif;
  font-weight: 700;
  font-size: 32px;
}
h3 {
  font-family: "proxima-nova-alt", sans-serif;
  font-weight: 700;
  font-size: 25px;
  margin-top: 0px;
  border: none;
}
#withthehelp {
  padding-top: 20px;
  padding-bottom: 20px;
}
.withthehelp_item {
  margin-top: 40px;
}
#withthehelp p {
  font-family: "source-sans-pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #333333;
  font-size: 14px;
}
#withthehelp img {
  margin-bottom: 20px;
  width: 100%;
}
#withthehelp img.graph {
  max-width: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#people {
  margin-top: 10px;
  margin-bottom: 10px;
}
.testimonial p {
  font-family: "source-sans-pro", sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #5d5d5c;
  font-size: 2.8rem;
}
#builder-list {
  margin-bottom: 40px;
  margin-top: 30px;
}
img {
  max-width: 100%;
}
.btn-primary,
.btn-national {
  color: #fff;
  background-color: #E74117;
  border-color: #8a270e;
  font-family: "source-sans-pro", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  padding: 4px 10px;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #8a270e;
  border-color: #2d0d05;
}
header {
  background: #5D5D5C;
  overflow: hidden;
  height: 63px;
}
footer,
#faq,
#featurettes1,
#featurettes2 {
  background: #F2F6E2;
  padding: 20px 0 20px 0;
}
.testimonial p {
  font-family: "source-sans-pro", sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #5d5d5c;
  font-size: 2.5rem;
}
.testimonial p.cite {
  font-style: italic;
}
.testimonial {
  padding-top: 15px;
  padding-bottom: 15px;
}
.testimonial img {
  border-radius: 50%;
  margin-top: 15px;
  display: none;
}
header h1 {
  background: url('../img/tyee-logo-national-150px.png') no-repeat 50px 8px #A6BE30;
  margin: 0;
  padding: 14px 0 10px 0;
  text-indent: -5000px;
  width: 250px;
  border-right: 1px solid white;
  float: left;
}
header h2 {
  color: white;
  float: left;
  font-family: "proxima-nova-alt", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 1.8em;
  letter-spacing: 0.1em;
  position: relative;
  top: 2px;
  left: 24px;
  text-transform: uppercase;
  border-bottom: none;
}
#content-inner {
  margin-bottom: 40px;
}
#harper {
  float: right;
}
#campaign-copy {
  margin-bottom: 10px;
  padding: 0 10px 0 10px;
}
#campaign-copy h1 {
  font-family: "proxima-nova-alt", sans-serif;
  font-style: normal;
  font-weight: 800;
  color: #d51e00;
  font-size: 40px;
  margin: 40px 0 20px;
}
#campaign-copy h1 span.join-us {
  color: #A6BE30;
}
#campaign-copy h1 span.triangle {
  background: url('../img/triangle.png') no-repeat center;
  padding-left: 26px;
}
#campaign-copy .lead {
  font-family: "proxima-nova-alt", sans-serif;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
  color: #A6BE30;
}
#people h3 {
  border-bottom: none;
  text-transform: uppercase;
  color: #90908f;
  font-family: "source-sans-pro", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
}
#people blockquote {
  font-family: "source-sans-pro", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  color: #8E9E38;
  border-left: none;
  padding: 0;
  margin: 0 0 20px 0;
}
#campaign-widget {
  background-color: #F2F6E2;
  border-color: #cfde94;
}
#campaign-widget .progress-bar {
  background-color: #E74117;
}
.badge {
  background-color: #A4BC30;
}
.video-container {
  position: relative;
  padding-bottom: 40%%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-bottom: 20px;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 500px;
}
#form {
  margin-bottom: 40px;
}
#form .tab-content {
  margin-top: 20px;
}
#form-onetime label {
  font-weight: normal;
  margin: 0px 0px 10px 0px;
}
#form-onetime .input-group {
  margin-bottom: 20px;
}
#builder-list {
  margin-bottom: 20px;
  margin-top: 20px;
}
#builder-list ul {
  margin: 0;
  padding: 0;
}
#builder-list ul li {
  list-style: none;
  display: inline;
}
#builder-list ul li:after {
  content: ", ";
}
#builder-list ul li.last:after {
  content: ".";
}
#partner-orgs .modal-body ul {
  list-style: none;
  margin: 0 0 40px 0;
  padding: 0;
}
#partner-orgs .modal-body ul li a {
  text-decoration: none;
  border: none;
}
#campaign-widget {
  width: 300px;
  font-size: 110%;
}
#campaign-widget .raised,
#campaign-widget .days {
  font-family: "source-sans-pro", sans-serif;
  font-size: 300%;
  font-weight: bold;
}
#campaign-widget .raised {
  color: #E74117;
  letter-spacing: 0.1em;
}
#campaign-widget .raised-goal {
  color: #E74117;
}
#campaign-widget .hour,
#campaign-widget .minute {
  font-family: "source-sans-pro", sans-serif;
  font-size: 200%;
  font-weight: bold;
}
#campaign-widget .contributor-list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 25px;
  overflow: hidden;
}
#campaign-widget .reader-priorities {
  text-align: left;
}
#campaign-widget .reader-priorities ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
#campaign-widget hr.soften {
  margin: 0 0 5px 0;
  border-top: 1px solid #dbe7a0;
}
header {
  background: url('../img/header-bg-national.png') repeat;
}
header h1 {
  background: url('../img/tyee-logo-mapleleaf.png') no-repeat center center;
  border: none;
}
footer,
#faq,
#featurettes1,
#featurettes2 {
  background: url('../img/section-bg-mapleleafs.png') repeat;
}
#organizations {
  padding-bottom: 20px;
}
#organizations .row {
  padding: 20px 0px 20px 0px;
}
#powermap-pitch {
  margin-top: 40px;
}
.payment-fields {
  max-width: 520px;
}
.recurly-hosted-field {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.recurly-hosted-field:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
button#subscribe {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .video-container {
    padding-bottom: 50%;
    margin-bottom: 0px;
    position: relative;
    width: 95%;
    margin-left: 2.5%;
    margin-bottom: 20px;
  }
  .video-container iframe,
  .video-container object,
  .video-container embed {
    width: 100%;
    height: 100%;
    max-height: 400px;
  }
}
@media screen and (min-width: 768px) {
  /* Adjust for large desktop */
  .video-container {
    padding-bottom: 34.5%;
    margin-bottom: 0px;
  }
  .video-container iframe,
  .video-container object,
  .video-container embed {
    width: 95%;
    height: 95%;
    max-height: 400px;
  }
  #campaign-copy {
    padding: 0 10px 0 10px;
  }
  #campaign-copy h1 {
    font-size: 60px;
    margin: 40px 0 10px;
  }
  #campaign-copy h1 span.triangle {
    background: url('../img/triangle.png') no-repeat center;
    padding-left: 18px;
  }
  #campaign-copy .lead {
    font-weight: 300;
  }
  .btn-primary,
  .btn-national {
    padding: 10px 16px;
    font-weight: 400;
    font-size: 18px;
  }
  .testimonial p.quotation {
    font-size: 4rem;
    line-height: 1.2;
  }
  #form-onetime .input-group {
    width: 35%;
  }
  #withthehelp p {
    font-weight: 300;
    color: ;
    font-size: 2rem;
  }
  #people {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #builder-list {
    margin-bottom: 60px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Adjust for standard desktop */
  .container {
    padding-left: 80px;
    padding-right: 80px;
  }
  #form-onetime .input-group {
    width: 45%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  /* portrait tablets */
  .video-container {
    padding-bottom: 52.5%;
    margin-bottom: 40px;
  }
  .video-container iframe,
  .video-container object,
  .video-container embed {
    width: 99%;
    height: 99%;
  }
  #campaign-widget {
    width: 100%;
  }
  #form-onetime .input-group {
    width: 55%;
  }
}
@media screen and (min-width: 992px) {
  .testimonial img {
    display: block;
  }
  #withthehelp {
    padding-top: 40px;
    padding-bottom: 20px;
  }
}
html.lt-ie7 body div,
html.lt-ie7 header {
  display: none;
}
html.lt-ie7 .chromeframe {
  display: block;
  padding: 20px;
}
#content-inner form .btn-group {
  display: block;
}
#content-inner form .btn-group label {
  margin-bottom: 30px;
}
#content-inner form .submit-button {
  clear: both;
}
form #newspriorities label {
  font-weight: bold;
  text-transform: uppercase;
}
.awards {
  text-align: center;
  margin: 5px 0 20px 0;
}
@media screen and (min-width: 1025px) {
  .testimonial img {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  p.quotation {
    margin-top: 50px;
  }
  #people {
    margin-top: 0px;
  }
}
